.footer {
  color: #fafafa;
  font-size: 0.5em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer {
  padding-top: 0.4em;
  padding-bottom: 0.3em;
}
.footer .fab {
  font-size: 2.5em;
  color: white;
  margin-left: 0.6em;
  margin-right: 0.6em;
}
