body {
  background-color: #eeeeee;
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}

.brand-logo img {
  width: 1.8em;
  height: 1.8em;
  padding-bottom: 2px;
  vertical-align: middle;
}

.ios-icon {
  vertical-align: middle;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.android-icon {
  vertical-align: middle;
  margin-right: 0.5em;
}

.back-icon {
  vertical-align: middle;
  margin-left: 0.5em;
}
